.temperHumi{
    width: 100%;
    height: 100%;
    display: flex;
    padding-bottom: 20px;
}

.temperHumi__left{
    width: 60%;

}
.temperHumi__left-heading{
    display: flex;
    list-style: none;
    color: var(--primary3-color);
}

.temperHumi__left-chart{
    margin-top: 15px;
    background-color: var(--primary5-color);
    border-radius: 15px;
    
    width: 100%;
    height: calc(100% - 30px) ;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}
.temperHumi__right{
    width: 35%;
    height: calc(100% - 30px) ;
    display: flex;
    flex-direction: column;
    margin-top: 35px;
    background-color: var(--primary5-color);
    border-radius: 15px;
    margin-left: 30px;
    padding: 15px 0;


}
.temperHumi__right-clock
{
    display: flex;
    justify-content: center;
}
.temperHumi__right-heading{
    color: white;
    margin: 0 0 15px 20px;
    text-align: center;
    font-size: 27px;
    

}
.clock-temperature{
    width: calc(50% - 30px);
    border-radius: 80px;
    padding: 5px;
    background-color: var(--primary1-color);
    margin-right: 20px;
    box-shadow: 0 7px 53px rgb(137 233 233 / 20%);
    
}
.clock-humidity{
    width: calc(50% - 30px);
    border-radius: 80px;
    padding: 5px;
    background-color: var(--primary1-color);
    box-shadow: 0 7px 53px rgb(137 233 233 / 20%);
}


