.notification__wrapper
{
  height: 100%;
  width: 100%;
  padding-right: 10px;
  padding-bottom: 20px;
}
.notification__heading{
  /* color: var(--primary3-color); */
  margin: 0px 0 0px 10px;
  color: transparent;

}
.notification__block
{
  background-color: var(--primary5-color);
  height: calc(100% - 60px);
  overflow: scroll;
  overflow-x: hidden;
  margin-left: 10px;
  padding: 14px;
  padding-left: 0;
  border-radius: 15px;
}
